@import 'Helpers/consts';
@import 'Helpers/keyframes';



/*
 *  ========== Estilo da sessão inteira ==========
 */
section.carousel {
	width: 100vw;

	display: flex;
	justify-content: center;

	transform: translateY(-30%);
	animation: uping .5s ease-in-out 1.5s backwards;


	.blog-carousel {
		article {
			background-color: $white;
			box-shadow: 10px 5px 1rem rgba(0 0 0 / .7);

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;

			border-radius: 1rem;
			padding-bottom: 2rem;
			margin: 2rem auto;

			min-width: 30ch;
			max-width: 30ch;


			img {
				border-radius: .9rem .9rem 0 0;
				object-fit: cover;
				height: 20ch;
			}

			h2 {
				text-align: center;
				padding: 0 2rem;
			}

			button {
				background-image: $sky;
				padding: 1rem 2rem;

				filter: opacity(.8);
				transition: all .3s ease-in-out;

				&:hover {
					filter: opacity(1);
				}
			}
		}
	}
}


