@import 'Helpers/consts';
@import 'Helpers/keyframes';



section.carousel {
	width: 100vw;
	transform: translateY(-30%);


	.blog-carousel {
		article {
			background-color: $white;
			box-shadow: 10px 5px 1rem rgba(0, 0, 0, .7);

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;

			border-radius: 1rem;
			margin: 2rem;
			padding-bottom: 2rem;


			img {
				border-radius: 1rem 1rem 0 0;
			}

			h2 {
				text-align: center;
				padding: 0 2rem;
			}

			button {
				background-image: $sky;
				padding: 1rem 2rem;

				filter: opacity(.8);
				transition: all .3s ease-in-out;

				&:hover {
					filter: opacity(1);
				}
			}
		}
	}
}
