@import 'Helpers/consts';
@import 'Helpers/keyframes';



main {
	width: 100vw;

	display: flex;
	justify-content: center;

	scrollbar-width: none;


	.container {
		display: inline-grid;
		grid-template-columns: 65% 35%;
		grid-gap: 2rem;
	}
}
